<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="main">
  <div class="container contents">
    <h1>[[ ${title} ]]</h1>
    <p>ようこそ、[[ ${user.name} ]]さん。</p>
    <div class="row">
      <form class="search col-6">
        <div class="input-group">
          <input class="form-control" type="text" name="keyword" placeholder="商品名の一部を入れて検索">
          <span class="input-group-append">
            <input class="btn btn-outline-secondary" type="submit" value="検索">
          </span>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-3">
        <h2>メニュー</h2>
        <p>ここに各種メニューを追加してください。</p>
      </div>
      <div class="col-9">
        <div class="card item" th:each="item : ${items}">
          <div class="row item_row">
            <div class="col-6 item_figure">
              <!--/* 画像にも詳細へのリンクを付ける */-->
              <a th:href="@{/items/detail/{id} (id=${item.id})}">
              <img class="img-fluid" th:src="@{/images/{image} (image=${item.image})}">
              </a>
            </div>
            <div class="col-6 item_description">
              <h2 class="item_title">
                <a th:href="@{/items/detail/{id} (id=${item.id})}">
                  <!--/* 登録して何日か以内のとき、newバッジを付ける */-->
                  <span class="badge badge-primary" th:if="item.updatedAt >= item.updatedAt-7">new!</span>[[ ${item.name} ]]:
                </a>
              </h2>
              <div>[[ ${item.description} ]]
                <!-- ちょっと追加 --><p>更新日 ： [[ ${#calendars.format(item.updatedAt,"yyyy/MM/dd")} ]]</p><!-- 追加ここまで -->
              </div>
              <th:block th:if="${item.stock > 0}">
                <div>[[ ${item.price} ]]円</div>
                <form method="post" th:action="@{/carts/add_cart/{id} (id=${item.id})}">
                  <button type="submit">カートに入れる</button>
                </form>
              </th:block>
              <th:block th:if="${item.stock <= 0}">
                <div class="sold_out">売り切れ</div>
              </th:block>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="text-center">
    <p><small>&copy;CodeCamp All Rights Reserved.</small></p>
  </footer>
</div>

</html>