<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="main">
  <div class="container contents">
    <h1>[[ ${title} ]]</h1>
    <p>ようこそ、[[ ${user.name} ]]さん。</p>
    <div class="row">
      <form class="search col-6">
        <div class="input-group">
          <input class="form-control" type="text" name="keyword" placeholder="商品名の一部を入れて検索">
          <span class="input-group-append">
            <input class="btn btn-outline-secondary" type="submit" value="検索">
          </span>
        </div>
      </form>



    </div>
    <div class="row">
      <div class="col-3">
        <h2>メニュー</h2>
        <p><a class="menu" th:href="@{/carts/}"><i class="bi bi-cart"></i> カートを見る</i></a></p>
      </div>
      <!--/* 右側部分 */-->
      <div class="col-9">
        <div class="row">
          <div class="card col-6 item" th:each="item : ${items}">
            <div class="item_row">
              <div class="item_figure">
                <!--/* 画像にも詳細へのリンクを付ける */-->
                <a th:href="@{/items/detail/{id} (id=${item.id})}">
                  <img class="img-fluid" th:src="@{/images/{image} (image=${item.image})}">
                </a>
              </div>
              <div class="item_description">
                <h2 class="item_title">
                  <a th:href="@{/items/detail/{id} (id=${item.id})}">
                    <!--/* 登録して何日か以内のとき、newバッジを付ける */-->
                    [[ ${item.name} ]] <span class="badge badge-primary"
                      th:if="${item.createdAt >= oneWeekAgo}">new!</span>
                  </a>
                  <!-- モーダルボタン -->
                  <button type="button" class="" data-toggle="modal" th:data-target="'#modal' + ${item.id}">
                    拡大表示</button>
                </h2>

                <div>[[ ${item.description} ]]</div>
                <!-- 在庫数と更新日を追加 -->
                <th:block th:if="${item.stock > 0}">
                  <div>在庫 ： あと [[ ${item.stock} ]] 個です！</div>
                </th:block>
                <p>登録日 ： [[ ${#calendars.format(item.createdAt,"yyyy/MM/dd")} ]]</p>
                <!-- 追加ここまで -->
                <th:block th:if="${item.stock > 0}">
                  <p>[[ ${item.price} ]]円</p>
                  <form method="post" th:action="@{/carts/add_cart/{id} (id=${item.id})}">
                    <button type="submit"><i class="bi bi-cart"></i> カートに入れる</button>
                  </form>
                </th:block>
                <th:block th:if="${item.stock <= 0}">
                  <div class="sold_out">売り切れ</div>
                </th:block>

              </div>
            </div>

            <!-- モーダル -->
            <div class="modal fade" tabindex="-1" th:id="'modal' + ${item.id}">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">商品名 [[ ${item.name} ]]</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <!-- /.modal-header -->
                  <div class="modal-body">
                    <img class="img-fluid" src="./images/dummy.png" />
                    <p>[[ ${item.description} ]]</p>
                  </div>
                  <!-- /.modal-body -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                  </div>
                  <!-- /.modal-footer -->
                </div>
                <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->

          </div>
        </div>
      </div>
    </div>
    <!--/* トップに戻る戻るボタン */-->
    <p class="pagetop"><a href="#page-top"><i class="bi bi-chevron-double-up"></i></a></p>
    <footer class="text-center">
      <p><small>&copy;CodeCamp All Rights Reserved.</small></p>
    </footer>
  </div>

</html>